<div class="row">
  <div class="col-12 mt-4">
    <a [routerLink]="['/home']">Voltar</a>
  </div>
  <div class="coll-12 mb-4">
    <h1>Envio de documentos</h1>
    <p>Para começarmos, escolha o tipo de documento que deseja enviar:</p>
  </div>
  <div class="col-12">
    <div id="btn-tipo-captura-1-foto" role="button"
      [class]="appkey === null ? 'btn btn-outline-secondary d-block mb-3 disabled' : 'btn btn-outline-secondary d-block mb-3'"
      (click)="setTypeCapture(1)" tabindex="0">
      <div class="row">
        <div class="col-auto d-flex align-items-center">
          <img [src]="ImgIcon" alt="" aria-hidden="true" />
        </div>
        <div class="col d-flex align-items-center">
          <div class="text-start">
            <p class="m-0 fw-bold">1 foto</p>
            <p class="m-0">Frente e verso</p>
          </div>
        </div>
        <div class="col-auto d-flex align-items-center">
          <img [src]="ChevronRight" alt="" aria-hidden="true" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mb-4">
    <div id="btn-tipo-captura-2-fotos" role="button"
      [class]="appkey === null ? 'btn btn-outline-secondary d-block mb-3 disabled' : 'btn btn-outline-secondary d-block mb-3'"
      (click)="setTypeCapture(2)" tabindex="0">
      <div class="row">
        <div class="col-auto d-flex align-items-center">
          <img [src]="ImgIcon" alt="" aria-hidden="true" />
        </div>
        <div class="col d-flex align-items-center">
          <div class="text-start">
            <p class="m-0 fw-bold">2 fotos</p>
            <p class="m-0">1 frente e um verso</p>
          </div>
        </div>
        <div class="col-auto d-flex align-items-center">
          <img [src]="ChevronRight" alt="" aria-hidden="true" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 text-center">
    <button id="delete-appkey" type="button" class="btn btn-link" (click)="deleteAppKey()">
      Em caso de problemas, clique aqui
    </button>
  </div>
</div>

<div *ngIf="sendDocument">
  <div *ngIf="!isMobile()" class="overlay"></div>

  <div class="send-document-area">
    <div class="container">
      <div *ngIf="message !== ''" class="div-msg">
        <span id="spanMsg">{{message}}</span>
      </div>

      <video *ngIf="!showUpload && !isMobile()" id="video" class="object-fit-contain"></video>

      <div *ngIf="snapTempDOM !== ''" id="thumb-picture"
        [class]="isMobile() ? 'thumb-picture mobile-thumb' : 'thumb-picture'">
        <div [class]="isMobile() ? 'thumb-group-card mobile-thumb' : 'thumb-group-card'">
          <p>A foto do documento ficou boa?</p>
          <div>
            <img id="imgCamera" [src]="snapTempDOM" alt="" />
          </div>
        </div>
      </div>

      <div *ngIf="showUpload && !rotateCamera" [class]="isMobile() ? 'thumbs-group mobile-thumb' : 'thumbs-group'">
        <div [class]="isMobile() ? 'thumb-group-card mobile-group' : 'thumb-group-card'">
          <p>
            Deseja enviar ou trocar
            {{snapsCaptures.length === 2 ? 'as' : 'a'}}
            {{snapsCaptures.length === 2 ? 'fotos' : 'foto'}}?
          </p>

          <div *ngFor="let snap of snapsCaptures; let i = index" class="thumbGroupCard">
            <img id="imgCamera" [src]="snap" />
            <button type="button" (click)="removeSnapFromLists(i)"
              class="badge rounded-pill text-bg-primary border border-0 btnImage fadeIn left btnImage fadeIn left d-flex align-content-center justify-content-center mx-auto mt-2 mb-4">
              <i class="material-icons me-2" aria-hidden="true">
                loop
              </i>
              Trocar foto
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="btnControllers" class="d-flex btn-controllers">
        <button type="button" class="btn btn-primary d-flex align-items-center btnImage fadeIn right mt-2 me-2"
          (click)="snapTick()">
          <i class="material-icons me-2" aria-hidden="true">
            insert_photo
          </i>
          Usar foto
        </button>
        <button type="button" class="btn btn-primary d-flex align-items-center btnImage fadeIn right mt-2"
          (click)="resetSnap()">
          <i class="material-icons me-2" aria-hidden="true">
            add_photo_alternate
          </i>
          Tirar nova foto
        </button>
      </div>

      <div *ngIf="rotateCamera === false" class="d-flex btn-controllers">
        <button *ngIf="showIniciar && !btnControllers && !showUpload && !isMobile()" type="button" id="btnIniciar"
          class="btn btn-primary d-flex align-items-center btnImage btnCapture fadeIn mt-2 me-2"
          (click)="startCapture()">
          <i class="material-icons me-2" aria-hidden="true">
            camera_alt
          </i>
          Tirar foto
        </button>

        <button *ngIf="showUpload && !uploadRequest"
          class="btn btn-primary d-flex align-items-center btnImage btnUpload fadeIn mt-2" (click)="uploadPictures()"
          [disabled]="isLoaded">
          <i *ngIf="isLoaded" class="material-icons me-2" aria-hidden="true">
            cloud_upload
          </i>
          <i *ngIf="!isLoaded" class="material-icons me-2" aria-hidden="true">
            outbox
          </i>
          <span *ngIf="isLoaded">Carregando...</span>
          <span *ngIf="!isLoaded">Enviar foto{{snapsCaptures.length === 2 ? 's' : ''}}</span>
        </button>
      </div>
    </div>
  </div>

  <input type="file" id="captura-foto" accept="image/*" capture="camera" aria-hidden="true"
    style="display: none; pointer-events: none;" />
  <img id="img-mobile" src="" aria-hidden="true" style="display: none;" />
  <canvas id="fc_canvas" style="display: none;"></canvas>
</div>