<div class="row">
  <div class="col-12 mt-4">
    <a [routerLink]="['/nav-menu']">Voltar</a>
  </div>
  <div class="coll-12 mb-4">
    <h1>Envio de documentos</h1>
    <p>Para começarmos, escolha o tipo de documento que deseja enviar:</p>
  </div>
  <div class="col-12">
    <div id="btn-tipo-captura-1-foto" role="button" class="btn btn-outline-secondary d-block mb-3"
      (click)="setTypeCapture(1)" tabindex="0">
      <div class="row">
        <div class="col-auto d-flex align-items-center">
          <img [src]="ImgIcon" alt="" aria-hidden="true" />
        </div>
        <div class="col d-flex align-items-center">
          <div class="text-start">
            <p class="m-0 fw-bold">1 foto</p>
            <p class="m-0">Frente e verso</p>
          </div>
        </div>
        <div class="col-auto d-flex align-items-center">
          <img [src]="ChevronRight" alt="" aria-hidden="true" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mb-4">
    <div id="btn-tipo-captura-2-fotos" role="button" class="btn btn-outline-secondary d-block mb-3"
      (click)="setTypeCapture(2)" tabindex="0">
      <div class="row">
        <div class="col-auto d-flex align-items-center">
          <img [src]="ImgIcon" alt="" aria-hidden="true" />
        </div>
        <div class="col d-flex align-items-center">
          <div class="text-start">
            <p class="m-0 fw-bold">2 fotos</p>
            <p class="m-0">1 frente e um verso</p>
          </div>
        </div>
        <div class="col-auto d-flex align-items-center">
          <img [src]="ChevronRight" alt="" aria-hidden="true" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 text-center">
    <button id="delete-appkey" type="button" class="btn btn-link" (click)="deleteAppKey()">
      Em caso de problemas, clique aqui
    </button>
  </div>
</div>

<div *ngIf="sendDocument">
  <div class="overlay"></div>

  <div class="send-document-area">
    <div class="container">
      <div *ngIf="message !== ''" class="div-msg">
        <span id="spanMsg">{{message}}</span>
      </div>

      <video *ngIf="!showUpload" id="video" class="object-fit-contain"></video>

      <div *ngIf="snapTempDOM !== ''" id="thumb-picture" class="thumb-picture">
        <div>
          <p>A foto do documento ficou boa?</p>
          <img id="imgCamera" [src]="snapTempDOM" alt="" />
        </div>
      </div>

      <div *ngIf="showUpload && !rotateCamera" class="thumbs-group">
        <div class="thumb-group-card">
          <p>
            Deseja enviar ou trocar
            {{snapsCaptures.length === 2 ? 'as' : 'a'}}
            {{snapsCaptures.length === 2 ? 'fotos' : 'foto'}}?
          </p>

          <div *ngFor="let snap of snapsCaptures; let i = index" class="thumbGroupCard">
            <img id="imgCamera" [src]="snap" />
            <button type="button" (click)="removeSnapFromLists(i)"
              class="badge rounded-pill text-bg-primary border border-0 btnImage fadeIn left btnImage fadeIn left d-flex align-content-center justify-content-center mx-auto mt-2 mb-4">
              <i class="material-icons me-2" aria-hidden="true">
                loop
              </i>
              Trocar foto
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="btnControllers" class="d-flex btn-controllers">
        <button type="button" class="btn btn-primary d-flex align-items-center btnImage fadeIn right mt-2 me-2"
          (click)="snapTick()">
          <i class="material-icons me-2" aria-hidden="true">
            insert_photo
          </i>
          Usar foto
        </button>
        <button type="button" class="btn btn-primary d-flex align-items-center btnImage fadeIn right mt-2"
          (click)="resetSnap()">
          <i class="material-icons me-2" aria-hidden="true">
            add_photo_alternate
          </i>
          Tirar nova foto
        </button>
      </div>

      <div *ngIf="rotateCamera === false" class="d-flex btn-controllers">
        <button *ngIf="showIniciar && !btnControllers && !showUpload" type="button" id="btnIniciar"
          class="btn btn-primary d-flex align-items-center btnImage btnCapture fadeIn mt-2 me-2"
          (click)="startCapture()">
          <i class="material-icons me-2" aria-hidden="true">
            camera_alt
          </i>
          Tirar foto
        </button>

        <button *ngIf="showUpload && !uploadRequest"
          class="btn btn-primary d-flex align-items-center btnImage btnUpload fadeIn mt-2" (click)="uploadPictures()"
          [disabled]="isLoaded">
          <i class="material-icons me-2" aria-hidden="true">
            outbox
          </i>
          {{uploadButtonText}}
        </button>
      </div>
    </div>
  </div>

  <canvas id="fc_canvas" style="display: none"></canvas>
</div>