<div class="row">
  <div class="col-12 mt-4">
    <a [routerLink]="['/home']">Voltar</a>
  </div>
  <div class="col-12 my-4">
    <div class="wrapping-box-container">
      <div id="controls" class="controls">
        <button type="button" id="liveness-button" class="btn btn-primary btn-rounded" disabled
          (click)="showLiveness3D()">
          3D Liveness Check
        </button>
        <p id="status" class="mt-2">
          {{status}}
        </p>
        <hr />
        <div id="custom-logo-container">
          <img [src]="FacetecLogo" alt="Logo Facetec" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 text-center">
    <button type="button" id="delete-appkey" variant="link" class="btn btn-link" (click)="deleteAppKey()">
      Em caso de problemas, clique aqui
    </button>
  </div>
</div>