<div class="container-fluid content-screen">
  <div class="row g-0 h-100">

    <div class="col-md-6 d-flex justify-content-center">
      <div class="content-area">

        <h1><strong>CertiFace Sample Web</strong></h1>

        <p class="sub-title">
          Agora gere uma AppKey informando seus dados.
        </p>

        <form class="form-horizontal" [formGroup]="formulario">
          <div class="mb-3">
            <span *ngIf="status" class="align-self-center" [ngStyle]="{'color': 'red'}">
              <strong>{{ status }}</strong>
            </span>
          </div>

          <div class="mb-3">
            <label><strong>CPF</strong></label>
            <input class="form-control" formControlName="cpf" placeholder="Informe o CPF" (input)="onCpfInput($event)">
          </div>

          <div class="mb-3">
            <label><strong>Nome</strong></label>
            <input class="form-control" formControlName="nome" placeholder="Informe o nome">
          </div>

          <div class="mb-3">
            <label><strong>Data de nascimento</strong></label>
            <input class="form-control" formControlName="nascimento" placeholder="Informe a data de nascimento"
              (input)="onDataNascimentoInput($event)">
          </div>

          <button class="btn btn-success btn-rounded me-4 w-100" [disabled]="!formulario.valid" (click)="enviar()">
            <strong>Gerar AppKey</strong>
          </button>
        </form>

      </div>
    </div>

    <div class="col-md-6 d-none d-md-flex pt-3 ps-0 pe-0 pb-0">
      <img src="assets/img/img-login-small.jpg" class="img-login">
    </div>
  </div>
</div>