<div class="row">
  <div class="col-12">
    <h1 class="my-4 text-center">
      Para usar a aplicação, por favor insira uma AppKey válida.
    </h1>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-10">
        <input type="text" id="txt-appkey" class="form-control" (keyup)="onHandleAppKey($event)" />
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary w-100" (click)="setAppKeyValue()"
          [disabled]="disabled">{{txtButton}}</button>
      </div>
      <div class="col-12" *ngIf="errorMessage !== ''">
        {{errorMessage}}
      </div>
      <div class="col-12">
        <hr />
      </div>
      <div class="col-12">
        <button type="button" class="btn btn-primary w-100" (click)="detectUserAgent()">Detectar userAgent</button>
      </div>
      <div class="col-12" *ngIf="deviceType !== ''">{{deviceType}}</div>
      <div class="col-12" *ngIf="os !== ''">{{os}}</div>
      <div class="col-12" *ngIf="userAgent !== ''">{{userAgent}}</div>
      <div class="col-12" *ngIf="deviceModel !== ''">{{deviceModel}}</div>
    </div>
  </div>
</div>