<div class="row">
  <div class="col-12">
    <h1 class="my-4 text-center">
      Para usar a aplicação, por favor escolha a API que será utilizada.
    </h1>
  </div>
  <div class="col-12">
    <a id="flexible-api" [routerLink]="['/flexible-api']" class="btn btn-outline-secondary d-block mb-3">
      <div class="row">
        <div class="col-auto d-flex align-items-center">
          <img [src]="Liveness2D" alt="" aria-hidden="true" />
        </div>
        <div class="col d-flex d-flex align-items-center justify-content-center">
          <h2>Certiface API</h2>
          <!-- <h3>Lorem ipsum dollor sit amet</h3> -->
        </div>
        <div class="col-auto d-flex align-items-center">
          <img [src]="ChevronRight" alt="" aria-hidden="true" />
        </div>
      </div>
    </a>
  </div>
  <div class="col-12">
    <a id="global-api" [routerLink]="['/global-api']" class="btn btn-outline-secondary d-block mb-3">
      <div class="row">
        <div class="col-auto d-flex align-items-center">
          <img [src]="Liveness2D" alt="" aria-hidden="true" />
        </div>
        <div class="col d-flex d-flex align-items-center justify-content-center">
          <h2>Global API</h2>
          <!-- <h3>Lorem ipsum dollor sit amet</h3> -->
        </div>
        <div class="col-auto d-flex align-items-center">
          <img [src]="ChevronRight" alt="" aria-hidden="true" />
        </div>
      </div>
    </a>
  </div>
</div>